#***** EXata Configuration File *****

#********************General Settings***********************************
VERSION 17.03
EXPERIMENT-NAME exata
EXPERIMENT-COMMENT NONE
SIMULATION-TIME {{ simulation_duration }}S
SEED 1
MULTI-GUI-INTERFACE NO
GUI-CONFIG-LOCKED NO
DUMMY-GLOBAL-FILTER-ENABLE NO
NUM-NODES {{ num_nodes }}
{% if llc_enabled %}
LLC-ENABLED YES
{% endif %}
{% if arp_enabled %}
ARP-ENABLED YES
{% endif %}

#*******************Parallel Settings***********************************

PARTITION-SCHEME AUTO
GESTALT-PREFER-SHARED-MEMORY YES

#*******************Advanced Settings***********************************

DYNAMIC-ENABLED NO

#********************HeatMap Settings***********************************

PROP-HEAT-MAP-COLLECTION NO
PROP-HEAT-MAP-COLLECTION-START-TIME 0S
PROP-HEAT-MAP-COLLECTION-END-TIME 30S
PROP-HEAT-MAP-HORIZONTAL-GRANULARITY 100
PROP-HEAT-MAP-VERTICAL-GRANULARITY 10
PROP-HEAT-MAP-MAX-HEIGHT 100
PROP-HEAT-MAP-MAX-DEPTH 0
STATS-DB-HEATMAP-EVENTS-TABLE NO
STATS-DB-HEATMAP-SUMMARY-INTERVAL 600S
STATS-DB-HEATMAP-SUMMARY-TABLE NO
STATS-DB-HEATMAP-DESCRIPTION-TABLE NO

#*****************************Terrain***********************************

COORDINATE-SYSTEM LATLONALT
TERRAIN-SOUTH-WEST-CORNER (-90, -180)
TERRAIN-NORTH-EAST-CORNER (90, 180)
WEATHER-MOBILITY-INTERVAL 10S
UNDERWATER-VISUALIZATION-ENABLED NO

#******************Channel Properties***********************************

{% for channel_config in channel_configs -%}
{% for key, value in channel_config.items() -%}
{{ key }} {{ value }}
{% endfor -%}
{% endfor -%}
DUMMY-MIMO-PARAMETERS NO


#**************Mobility and Placement***********************************

NODE-PLACEMENT FILE
MOBILITY NONE

#*******************************CYBER***********************************

#*********************************GSM***********************************

GSM-TOTAL-NUMBER-OF-CHANNELS 0

#*********************************LTE***********************************

PHY-LTE-PERFORMANCE-MODE 0

#**********************************5G***********************************

PHY-NR-PERFORMANCE-MODE 1

#**************************STATISTICS***********************************

PHY-LAYER-STATISTICS YES
MAC-LAYER-STATISTICS YES
ACCESS-LIST-STATISTICS NO
ARP-STATISTICS NO
ROUTING-STATISTICS YES
POLICY-ROUTING-STATISTICS NO
QOSPF-STATISTICS NO
ROUTE-REDISTRIBUTION-STATISTICS NO
EXTERIOR-GATEWAY-PROTOCOL-STATISTICS YES
MULTICAST-MSDP-STATISTICS NO
NETWORK-LAYER-STATISTICS YES
INPUT-QUEUE-STATISTICS NO
INPUT-SCHEDULER-STATISTICS NO
QUEUE-STATISTICS YES
SCHEDULER-STATISTICS NO
SCHEDULER-GRAPH-STATISTICS NO
DIFFSERV-EDGE-ROUTER-STATISTICS NO
ICMP-STATISTICS NO
ICMP-ERROR-STATISTICS NO
IGMP-STATISTICS NO
NDP-STATISTICS NO
MOBILE-IP-STATISTICS NO
TCP-STATISTICS YES
UDP-STATISTICS YES
MDP-STATISTICS NO
RSVP-STATISTICS NO
RTP-STATISTICS NO
APPLICATION-STATISTICS YES
BATTERY-MODEL-STATISTICS NO
ENERGY-MODEL-STATISTICS YES
CELLULAR-STATISTICS YES
GSM-STATISTICS NO
VOIP-SIGNALLING-STATISTICS NO
SWITCH-PORT-STATISTICS NO
SWITCH-SCHEDULER-STATISTICS NO
SWITCH-QUEUE-STATISTICS NO
MPLS-STATISTICS NO
MPLS-LDP-STATISTICS NO
HOST-STATISTICS NO
LINK-11-STATISTICS NO
LINK-16-STATISTICS NO
LINK-16-GATEWAY-STATISTICS NO
JAMMER-STATISTICS NO
DHCP-STATISTICS NO
DNS-STATISTICS NO
PHY-LTE-CA-STATS NO
PHY-NR-CA-STATS NO
5G-NS-STATS NO
HOSTMODEL-STATISTICS NO

#**********************PACKET TRACING***********************************

PACKET-TRACE NO
ACCESS-LIST-TRACE NO

#*****************Statistics Database***********************************

STATS-DB-COLLECTION NO

#******************Supplemental Files***********************************
{% if include_app_config %}
APP-CONFIG-FILE {{ scene.sceneName }}.app
{% endif %}
DUMMY-TRAFFIC-PATTERN-FILE-NUMBER 0

#***********************AGI Interface***********************************

AGI-INTERFACE NO

#**********************EXSH Interface***********************************

EXSH-ENABLED NO

#********************Socket Interface***********************************

SOCKET-INTERFACE YES
SOCKET-INTERFACE-NUM-PORTS 1
SOCKET-INTERFACE-PORT[0] 8005
SOCKET-INTERFACE-UDP-FAILURE-TIMEOUT 2S
SOCKET-INTERFACE-TCP-FAILURE-TIMEOUT 15S
SOCKET-INTERFACE-LOG FILE
SOCKET-INTERFACE-PRINT-REAL-TIME NO
SOCKET-INTERFACE-DRIVER-LOG NO
SOCKET-INTERFACE-ERRORS-LOG YES
SOCKET-INTERFACE-ERRORS-LOG-MAX 1000
SOCKET-INTERFACE-GRAPH-LOG NO
SOCKET-INTERFACE-STATS-LOG YES
SOCKET-INTERFACE-STATS-PRINT-REAL-TIME 1
SOCKET-INTERFACE-STATS-PRINT-INTERVAL 60S
SOCKET-INTERFACE-RESPONSES-LOG NO
SOCKET-INTERFACE-LOG-AUTOMATIC-FLUSH NO
SOCKET-INTERFACE-IDLE-WHEN-RESPONSE-SENT YES
SOCKET-INTERFACE-ALWAYS-SUCCESS NO
SOCKET-INTERFACE-CPU-HOG NO
SOCKET-INTERFACE-DISTRIBUTED-ENVIRONMENT NO
SOCKET-INTERFACE-PAUSE-REPLY-ZERO-DELAY NO
SOCKET-INTERFACE-PAUSE-ADVANCE-SIMULATION-TIME YES
SOCKET-INTERFACE-ONLY-DEACTIVATE-MAPPED-NODES NO


#*******************VR-Link Interface***********************************

VRLINK NO

#**********************Physical Layer***********************************
PHY-LISTENABLE-CHANNELS {{ primary_channel_name }}
PHY-LISTENING-CHANNELS {{ primary_channel_name }}
PHY-MODEL PHY802.11b
PHY802.11-AUTO-RATE-FALLBACK NO
PHY802.11-DATA-RATE 2000000
PHY802.11-FREQUENCY-BAND 2400000000
PHY802.11-COUNTRY-CODE US
PHY802.11-20MHz-CHANNEL-INDEX 6
PHY802.11-TX-POWER-1MBPS 15.0
PHY802.11-TX-POWER-2MBPS 15.0
PHY802.11-TX-POWER-5.5MBPS 15.0
PHY802.11-TX-POWER-11MBPS 15.0
PHY802.11-USE-LEGACY-802.11b NO
PHY802.11-RX-SENSITIVITY-1MBPS -82.0
PHY802.11-RX-SENSITIVITY-2MBPS -80.0
PHY802.11-RX-SENSITIVITY-5.5MBPS -78.0
PHY802.11-RX-SENSITIVITY-11MBPS -76.0
PHY802.11-ESTIMATED-DIRECTIONAL-ANTENNA-GAIN 15.0
PHY-RX-MODEL PHY802.11b
DUMMY-ANTENNA-MODEL-CONFIG-FILE-SPECIFY NO
ANTENNA-MODEL OMNIDIRECTIONAL
ANTENNA-GAIN 0.0
ANTENNA-HEIGHT 1.5
ANTENNA-EFFICIENCY 0.8
ANTENNA-MISMATCH-LOSS 0.3
ANTENNA-CABLE-LOSS 0.0
ANTENNA-CONNECTION-LOSS 0.2
ANTENNA-ORIENTATION-AZIMUTH 0
ANTENNA-ORIENTATION-ELEVATION 0
ANTENNA-ORIENTATION-ROLL 0
ANTENNA-ORIENTATION-AZIMUTH-SPEED 0.0
PHY-TEMPERATURE 290.0
PHY-NOISE-FACTOR 10.0
ENERGY-MODEL-SPECIFICATION NONE

#***************************MAC Layer***********************************

LINK-MAC-PROTOCOL ABSTRACT
LINK-PROPAGATION-DELAY 1MS
NODE-TYPE NONE{#cuixinbin版不要写#}
LINK-BANDWIDTH 10000000.000000
LINK-HEADER-SIZE-IN-BITS 224
LINK-DROP-PROBABILITY 0
LINK-TX-FREQUENCY 13170000000.000000
LINK-RX-FREQUENCY 13170000000.000000
LINK-TX-ANTENNA-HEIGHT 30
LINK-RX-ANTENNA-HEIGHT 30
LINK-TX-ANTENNA-DISH-DIAMETER 0.8
LINK-RX-ANTENNA-DISH-DIAMETER 0.8
LINK-TX-ANTENNA-CABLE-LOSS 1.5
LINK-RX-ANTENNA-CABLE-LOSS 1.5
LINK-TX-POWER 30
LINK-RX-SENSITIVITY -80
LINK-NOISE-TEMPERATURE 290
LINK-NOISE-FACTOR 4
LINK-TERRAIN-TYPE PLAINS
LINK-PROPAGATION-RAIN-INTENSITY 0
LINK-PROPAGATION-TEMPERATURE 25
LINK-PROPAGATION-SAMPLING-DISTANCE 100
LINK-PROPAGATION-CLIMATE 1
LINK-PROPAGATION-REFRACTIVITY 360
LINK-PROPAGATION-PERMITTIVITY 15
LINK-PROPAGATION-CONDUCTIVITY 0.005
LINK-PROPAGATION-HUMIDITY 50
LINK-PERCENTAGE-TIME-REFRACTIVITY-GRADIENT-LESS-STANDARD 15
LINK-MICROWAVE-DIFFRACTION-EFFECT-THRESHOLD 500
MAC-PROTOCOL MACDOT11
MAC-DOT11-SHORT-PACKET-TRANSMIT-LIMIT 7
MAC-DOT11-LONG-PACKET-TRANSMIT-LIMIT 4
MAC-DOT11-RTS-THRESHOLD 0
MAC-DOT11-STOP-RECEIVING-AFTER-HEADER-MODE NO
MAC-DOT11-ASSOCIATION NONE
MAC-DOT11-IBSS-SUPPORT-PS-MODE NO
MAC-DOT11-DIRECTIONAL-ANTENNA-MODE NO
MAC-SECURITY-PROTOCOL NO
WORMHOLE-VICTIM-COUNT-TURNAROUND-TIME NO
MAC-PROPAGATION-DELAY 1US
CONFIGURE-MEDIA-TYPE NO

#***************Schedulers and Queues***********************************

IP-QUEUE-PRIORITY-INPUT-QUEUE-SIZE 150000
IP-QUEUE-SCHEDULER STRICT-PRIORITY
IP-QUEUE-NUM-PRIORITIES 3

#*******************QoS Configuration***********************************

#****************Fixed Communications***********************************

FIXED-COMMS-DROP-PROBABILITY 0.0

#******************MSDP Configuration***********************************

#************************ROUTER MODEL***********************************

DUMMY-ROUTER-TYPE USER-SPECIFIED

#***********************NETWORK LAYER***********************************

NETWORK-PROTOCOL IP
IP-ENABLE-LOOPBACK YES
IP-LOOPBACK-NUM-INTERFACES 1
IP-LOOPBACK-ADDRESS 127.0.0.1
IP-FRAGMENT-HOLD-TIME 60S
IP-FRAGMENTATION-UNIT 2048
ECN NO
ICMP YES
ICMP-ROUTER-ADVERTISEMENT-LIFE-TIME 1800S
ICMP-ROUTER-ADVERTISEMENT-MIN-INTERVAL 450S
ICMP-ROUTER-ADVERTISEMENT-MAX-INTERVAL 600S
ICMP-MAX-NUM-SOLICITATION 3
MOBILE-IP NO

#********************ROUTING PROTOCOL***********************************

ROUTING-PROTOCOL-IPv4 BELLMANFORD
STATIC-ROUTE NO
DEFAULT-ROUTE NO
DUMMY-MULTICAST NO

#*******************BGP Configuration***********************************

DUMMY-BGP-ENABLE-ROUTER-ID NO

#***************************TRANSPORT***********************************

TRANSPORT-PROTOCOL-RSVP YES
GUI_DUMMY_CONFIG_TCP YES
TCP NEWRENO
TCP-USE-RFC1323 YES
TCP-USE-RFC3042 YES
TCP-USE-RFC3390 YES
TCP-USE-RFC3465 YES
TCP-USE-NAGLE-ALGORITHM YES
TCP-DO-ECN NO
TCP-ECN-MAX-RETRIES 1
TCP-SACK-PERMITTED YES
TCP-MAX-SACK-HOLES 128
TCP-DROP-SYNFIN NO
TCP-DO-INSECURE-RST NO
TCP-DO-INSECURE-SYN NO
TCP-USE-PUSH YES
TCP-TIMER-JITTER YES
TCP-MSS 536
TCP6-MSS 1220
TCP-INITCWND-SEGMENTS 10
TCP-SYNCACHE-HASHSIZE 512
TCP-SYNCACHE-BUCKETLIMIT 30
TCP-SYNCACHE-CACHELIMIT 15360
TCP-DELAY-ACKS YES
TCP-MSL 1MS
TCP-SEND-BUFFER 16384
TCP-RECEIVE-BUFFER 16384

#**************************MPLS Specs***********************************

MPLS-PROTOCOL NO

#*******************Application Layer***********************************

RTP-ENABLED NO
MDP-ENABLED NO
EMULATED-FTP-ENABLED YES
EMULATED-HTTP-ENABLED YES
EMULATED-TELNET-ENABLED YES

#***************************LTE Layer***********************************

IS-SGW NO
IS-PGW NO
IS-GNB NO

#*****************************FIVE_GC***********************************

#**********************Battery Models***********************************

BATTERY-MODEL NONE

#*******************OS Resource Model***********************************

OS-RESOURCE-MODEL NO

#*****************Adaptation Protocol***********************************

ADAPTATION-PROTOCOL AAL5
ATM-CONNECTION-REFRESH-TIME 5M
ATM-CONNECTION-TIMEOUT-TIME 1M
IP-QUEUE-PRIORITY-QUEUE-SIZE 150000
IP-QUEUE-TYPE FIFO

# ***** Advanced Emulation Data *****

# ***** Virtual Node Data *****


#********* [Default Wireless Subnet] ***********************************
{% if default_subnet and default_subnet.interfaces.all() %}
SUBNET N8-{{ default_subnet.subnetIp }} { {{ isolated_node_ids | join(', ') }} } SUBNET-UUID SUB{{ subnet_id_map[default_subnet.id] }} Default
{% endif %}


{% for subnet in subnets %}
{% if subnet.interfaces.all() %}
#************* Subnet Configuration ***********************************
SUBNET N8-{{ subnet.subnetIp }} { {% for interface in subnet.interfaces.all() %}{{ node_id_map[ interface.node.id ]}}{% if not loop.last %}, {% endif %}{% endfor %} } SUBNET-UUID SUB{{ subnet_id_map[subnet.id] }}
#**********************Physical Layer***********************************
{% if subnet.details %}
{% for key, value in subnet.details.items() %}
[N8-{{ subnet.subnetIp }}] {{ key }} {{ value }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}





{% for link in links %}
{% set exported_link_id = link_id_map[link.id] %}
#**************************** [Link] ***********************************
LINK N8-{{ link.subnet.subnetIp }} { {{ node_id_map[link.sourceNodeId.id] }}, {{ node_id_map[link.destinationNodeId.id] }} } LINK-UUID LINK{{ exported_link_id }}
#******POINT TO POINT LINK PROPERTIES***********************************
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-PHY-TYPE {% if link.linkType == '无线' %}WIRELESS{% else %}WIRED{% endif %}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-MAC-PROTOCOL ABSTRACT
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] IP-FRAGMENTATION-UNIT 2048
{# 只有当 linkConfig 为 True 时才输出链路参数配置 #}
{% if link.linkConfig %}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] DUMMY-GUI-SYMMETRIC-LINK YES
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-BANDWIDTH {{ link.bandwidth|round(6) }}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-HEADER-SIZE-IN-BITS {{ link.packetHeaderSize }}{% if link.transmissionDelay %}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-PROPAGATION-DELAY {{ link.transmissionDelay }}MS{% endif %}
{% if link.linkType == '有线' and link.packetLossRate %}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] LINK-DROP-PROBABILITY {{ link.packetLossRate|round(6) }}
{% endif %}
{% else %}
[LINK{{ exported_link_id }}/{{ node_id_map[link.sourceNodeId.id] }}/{{ link.sourceInterface.interfaceIndex }} LINK{{ exported_link_id }}/{{ node_id_map[link.destinationNodeId.id] }}/{{ link.destinationInterface.interfaceIndex }}] DUMMY-GUI-SYMMETRIC-LINK NO
{% endif %}
{% endfor %}






{% if static_route_nodes %}
[{{ static_route_nodes | join(' ') }}] STATIC-ROUTE YES
[{{ static_route_nodes | join(' ') }}] STATIC-ROUTE-FILE {{ static_route_file_path }}

{% endif %}
#************* Interface Configuration ***********************************
{% for node in nodes %}{% for interface in node.interfaces.all() %}
[{{ node_id_map[node.id] }}] NETWORK-PROTOCOL[{{ interface.interfaceIndex }}]       IP{% if interface.interfaceType == 'sub' %}
[SUB{{ subnet_id_map[interface.subnet.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] IP-ADDRESS {{ interface.interfaceIp }}
{% elif interface.interfaceType == 'link' %}{% if interface.source_link %}
[LINK{{ link_id_map[interface.source_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] IP-ADDRESS {{ interface.interfaceIp }}
  {% elif interface.destination_link %}
[LINK{{ link_id_map[interface.destination_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] IP-ADDRESS {{ interface.interfaceIp }}
  {% endif %}
{% endif %}
{% endfor %}
{% endfor %}


{% for node in nodes %}
  {% for interface in node.interfaces.all() %}
    {% if interface.interfaceType == 'sub' %}
      {% for key, value in interface.detail.get('Physical', {}).items() %}
[SUB{{ subnet_id_map[interface.subnet.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] {{ key }} {{ value }}
      {% endfor %}
      {% for key, value in interface.detail.get('MAC', {}).items() %}
[SUB{{ subnet_id_map[interface.subnet.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] {{ key }} {{ value }}
      {% endfor %}
      {% set routing_protocol = interface.detail.get('Routing', {}).get('ROUTING-PROTOCOL-IPv4') %}
      {% if routing_protocol and routing_protocol != 'BellmanFord' %}
[SUB{{ subnet_id_map[interface.subnet.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] ROUTING-PROTOCOL-IPv4 {{ routing_protocol }}
      {% endif %}
    {% elif interface.interfaceType == 'link' %}
      {% if interface.source_link %}
        {% for key, value in interface.detail.get('MAC', {}).items() %}
[LINK{{ link_id_map[interface.source_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] {{ key }} {{ value }}
        {% endfor %}
        {% set routing_protocol = interface.detail.get('Routing', {}).get('ROUTING-PROTOCOL-IPv4') %}
        {% if routing_protocol and routing_protocol != 'BellmanFord' %}
[LINK{{ link_id_map[interface.source_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] ROUTING-PROTOCOL-IPv4 {{ routing_protocol }}
        {% endif %}
      {% elif interface.destination_link %}
       {% for key, value in interface.detail.get('MAC', {}).items() %}
[LINK{{ link_id_map[interface.destination_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] {{ key }} {{ value }}
        {% endfor %}
        {% set routing_protocol = interface.detail.get('Routing', {}).get('ROUTING-PROTOCOL-IPv4') %}
        {% if routing_protocol and routing_protocol != 'BellmanFord' %}
[LINK{{ link_id_map[interface.destination_link.id] }}/{{ node_id_map[node.id] }}/{{ interface.interfaceIndex }}] ROUTING-PROTOCOL-IPv4 {{ routing_protocol }}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}





#*************Hierarchy Configuration***********************************


#******************Node Configuration***********************************
{% for node in nodes %}[{{ node_id_map[node.id] }}]             HOSTNAME host{{ node_id_map[node.id] }}
{% endfor %}
NODE-POSITION-FILE {{ scene.sceneName }}.nodes

#*********Miscellaneous Configuration***********************************

GUI-DISPLAY-SETTINGS-FILE {{ scene.sceneName }}.display
{% if include_fault_config %}
FAULT-CONFIG-FILE {{ scene.sceneName }}.fault
{% endif %}
